{% extends "review-form.html" %}

{{ super() }}

{% block title %}Add Review | Student Conduct Tracker{% endblock %}

{% block form_action %}
    {% if student_id %}
        "{{ url_for("review_views.add_review_by_student", student_id=student_id)}}"
    {% else %}
        "{{ url_for("review_views.add_review")}}"
    {% endif %}
{% endblock %}

{% block form_heading %}Add Review{% endblock %}

{% if student_id %}
    {% block id_value %}value="{{student_id}}"{% endblock %}
{% endif %}

{% block label %}Write your review here{% endblock %}

{% block button_text %}Add Review{% endblock %}