{% extends "admin-navbar.html" %}

{{ super() }}

{% block title %}Add Student | Student Conduct Tracker{% endblock %}

{% block content %}
<div>
  <div class="form">
    <div class="row">
      <form class="materialize-form" action="{{ url_for("student_views.add_student")}}" method="POST">
        <div class="form-heading">Add Student</div>
        <div class="input-field col s12">
          <input placeholder="eg. 816024000" id="school_id" name="school_id" type="text" class="validate">
          <label for="school_id">Student ID</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="eg. John Smith" id="student_name" name="name" type="text" class="validate">
          <label for="student_name">Student Name</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="eg. BSc Computer Science (Special)" id="student-programme" name="programme" type="text" class="validate">
          <label for="student-programme">Degree Programme</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="eg. FST" id="student-faculty" name="faculty" type="text" class="validate">
          <label for="student-faculty">Faculty</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn col s12 indigo lighten-2">Add Student</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}