{% extends "navbar2.html" %}

{{ super() }}

{% block content_heading %}All Students{% endblock %}

{% block button %}
<div class="button">
  <a href="/add-student" class="waves-effect waves-light btn indigo lighten-2">Add Student +</a>
</div>
{% endblock %}

{% block content %}
<div class="cards-container">
  {% if students %}
    {% for student in students %}
    <div class="card">
      <div class="card-content">Profile Picture</div>
      <div class="card-content">{{student.name}}</div>
      <div class="card-content">{{student.school_id}}</div>
      <div class="card-content">{{student.programme}}</div>
      <div class="card-content">{{student.faculty}}</div>
      <div class="card-content">{{student.get_karma()}}</div>
      <div class="card-content">
        <div>See Reviews</div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div>No students found.</div>
  {% endif %}
</div>
{% endblock %}