{% extends "admin-navbar.html" %}

{{ super() }}

{% block title %}Students | Student Conduct Tracker{% endblock %}

{% block content_heading %}All Students{% endblock %}

{% block button %}
<div class="button">
  <a href="/add-student" class="waves-effect waves-light btn indigo lighten-2">Add Student +</a>
</div>
{% endblock %}

{% block content %}
<div class="cards-container">
  {% if students %}
    {% for student in students %}
    <div class="card">
      <div class="student-info">
        <div class="card-content">
          <span class="card-label">Name: </span><span>{{student.name}}</span>
        </div>
        <div class="card-content">
          <span class="card-label">Student ID: </span><span>{{student.school_id}}</span>
        </div>
        <div class="card-content">
          <span class="card-label">Degree Programme: </span><span>{{student.programme}}</span>
        </div>
        <div class="card-content">
          <span class="card-label">Faculty: </span><span>{{student.faculty}}</span>
        </div>
        <div class="card-content">
          <span class="card-label">Karma Score: </span><span>{{student.get_karma()}}</span>
        </div>
      </div>
      <div class="card-btn">
        <div class="card-content">
          <div class="button">
            <a href="/reviews" class="waves-effect waves-light btn indigo lighten-2">See Reviews</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div>No students found.</div>
  {% endif %}
</div>
{% endblock %}