{% extends "staff-navbar.html" %}

{{ super() }}

{% block content %}
<div>
  <div class="form">
    <div class="row">
      <form class="materialize-form" action={% block form_action %}{% endblock %} method="POST">
        <div class="form-heading">{% block form_heading %}{% endblock %}</div>
        <div class="input-field col s12">
          <input {% block disable %}{% endblock %} placeholder="eg. 816024000" id="student_id" name="student_id" type="text" class="validate" {% block id_value %}{% endblock %}>
          <label for="student_id">Student ID</label>
        </div>
        <div class="input-field col s12">
          <textarea id="review-text" name="text" class="materialize-textarea">{% block text_value %}{% endblock %}</textarea>
          <label for="review-text">{% block label %}{% endblock %}</label>
        </div>  
        <div class="input-field col s12">
          <select name="rating" class="browser-default">
            {% block options %}{% endblock %}
          </select>
        </div>
        <div class="review-form-btns">
          <div class="button">
            <a href="{{ url_for("review_views.staff_show_all_reviews") }}" class="waves-effect waves-light btn indigo lighten-2">Cancel</a>
          </div>
          <div>
            <button type="submit" class="waves-effect waves-light btn col s12 indigo lighten-2">{% block button_text %}{% endblock %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}