{% extends "staff-navbar.html" %}

{{ super() }}

{% block content %}
<div>
  <div class="form">
    <div class="row">
      <form class="materialize-form" action={% block form_action %}{% endblock %} method="POST">
        <div class="form-heading">{% block form_heading %}{% endblock %}</div>
        <div class="input-field col s12">
          <input {% block disable %}{% endblock %} placeholder="eg. 816024000" id="student_id" name="student_id" type="text" class="validate" {% block id_value %}{% endblock %}>
          <label for="student_id">Student ID</label>
        </div>
        <div class="input-field col s12">
          <textarea id="review-text" name="text" class="materialize-textarea">{% block text_value %}{% endblock %}</textarea>
          <label for="review-text">{% block label %}{% endblock %}</label>
        </div>  
        <div class="input-field col s12">
          <select name="rating" class="browser-default">
            <option value="" disabled {% block select_a %}{% endblock %}>Choose your rating</option>
            <option value="1" {% block select_1 %}{% endblock %}>1 star</option>
            <option value="2" {% block select_2 %}{% endblock %}>2 stars</option>
            <option value="3" {% block select_3 %}{% endblock %}>3 stars</option>
            <option value="4" {% block select_e %}{% endblock %}>4 stars</option>
            <option value="5" {% block select_f %}{% endblock %}>5 stars</option>
            <option value="6" {% block select_g %}{% endblock %}>6 stars</option>
            <option value="7" {% block select_h %}{% endblock %}>7 stars</option>
            <option value="8" {% block select_i %}{% endblock %}>8 stars</option>
            <option value="9" {% block select_j %}{% endblock %}>9 stars</option>
            <option value="10" {% block select_k %}{% endblock %}>10 stars</option>
          </select>
        </div>
        <div class="review-form-btns">
          <div class="button">
            <a href="{{ url_for("review_views.staff_show_all_reviews") }}" class="waves-effect waves-light btn indigo lighten-2">Cancel</a>
          </div>
          <div>
            <button type="submit" class="waves-effect waves-light btn col s12 indigo lighten-2">{% block button_text %}{% endblock %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}