{% extends "staff-navbar.html" %}

{{ super() }}

{% block content_heading %}All Students{% endblock %}

{% block content %}
<div class="cards-container">
  {% for student in students %}
  <div class="card">
    <div class="card-content">Profile Picture</div>
    <div class="card-content">{{student.name}}</div>
    <div class="card-content">{{student.school_id}}</div>
    <div class="card-content">{{student.programme}}</div>
    <div class="card-content">{{student.get_karma()}}</div>
    <div class="card-content">
      <div>Add Review</div>
      <div>See Reviews</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}